name: create tag

on:
  push:
    branches:
      - master
      - main
      
jobs:
  tag:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v3
    - uses: google-github-actions/release-please-action@v3
      with:
        release-type: go
        package-name: xlsx-mxlookup
        token: ${{ secrets.TAP_GITHUB_TOKEN }}